table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
		background-color: #f1f1c1;
	}
	th, td {
		padding: 5px;
	}
	th {
		text-align: left;
	}
	body {
	    background-image: url("satanshex.jpg"); 
	}
